global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node_exporter"
    static_configs:
      - targets:
{% for host in groups.get('role_client', []) %}
          - "{{ hostvars[host]['private_ip_address'] }}:9100"
{% endfor %}

  - job_name: "loki"
    static_configs:
      - targets: ["localhost:3100"]

  - job_name: "promtail"
    static_configs:
      - targets:
{% for host in groups.get('role_client', []) %}
          - "{{ hostvars[host]['private_ip_address'] }}:9080"
{% endfor %}

  # Try role_application first, else fallback to role_client
  - job_name: "apache_exporter"
    static_configs:
      - targets:
{% set app_hosts = groups.get('role_application', []) if groups.get('role_application', [])|length > 0 else groups.get('role_client', []) %}
{% for host in app_hosts %}
          - "{{ hostvars[host]['private_ip_address'] }}:9117"
{% endfor %}

